{{ use('yii/widgets/ActiveForm') }}
{{ set(this, 'title', 'Register' ) }}
{% set form = active_form_begin({
'id' : 'register-form',
'options' : {'class' : 'form-horizontal'},
}) %}

    {{ form.field(model, 'username') | raw }}
    {{ form.field(model, 'password').passwordInput() | raw }}

<div class="form-group">
    <input type="submit" value="Sign Up" class="btn btn-primary" />
</div>
{{ active_form_end() }}